
.bookManage_pagination {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 1.5rem;
}

.backtohome_btn{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
}