<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/admin.css" rel="stylesheet" type="text/css"/>
  <style>
            img{
                width: 200px;
                height: 120px;
            }
        </style>
<body>
<div class="container">
  <a type="button" class="btn btn-primary" th:href="@{/home}">Back</a>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manager <b>Product</b></h2>
        </div>
        <div class="col-sm-6">
          <a th:href="@{/admin/add}" th:if="${session.NAME.role!=0}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Release date</th>
        <th>Image</th>
        <th>Price</th>
        <th>Sold</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <div th:each="o:${products}">
        <tr>
          <td th:text="${o.id}"></td>
          <td th:text="${o.title}"></td>
          <td th:text="${o.author}"></td>
          <td th:text="${o.date}"></td>
          <td>
            <img th:src="${o.image}">
          </td>
          <td th:text="${o.price} "></td>
          <td th:text="${o.sold} "></td>
          <td style="display:flex;margin-top: 38px;border: none;">
            <button th:if="${session.NAME.role==1}"><a th:href="@{/admin/edit/{id}(id=${o.id})}" class="edit" ><i class="material-icons">&#xE254;</i></a></button>
            <button th:if="${session.NAME.role==1}"
                    th:onclick="'handleClick(\'' +${o.id} + '\');'"
            ><a class="delete"><i class="material-icons" >&#xE872;</i></a></button>
          </td>
        </tr>
      </div>
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  const handleClick = (id) => {
    if(window.confirm("Ban co chac muon xoa?")){
       window.open(`http://localhost:8080/admin/delete/${id}`, "_self")
    }
  }
</script>
</body>
</html>