<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--begin of menu-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.NAME!=null}" th:href="@{/admin}">Manager Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:if="${session.NAME!=null}" th:text="'Hello ' + ${session.NAME.name}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Logout}" th:if="${session.NAME!=null}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Login}" th:if="${session.NAME==null}">Login</a>
                </li>
            </ul>

            <form action="search" method="post" class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input name="txt" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a th:if="${session.NAME!=null}" class="btn btn-success btn-sm ml-3" th:href="@{/cart}">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Cửa hàng sách uy tín</h1>
        <p class="lead text-muted mb-0">Uy tín tạo nên thương hiệu</p>
    </div>
</section>
<!--end of menu-->
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block" th:each="o:${categories}">
                    <li class="list-group-item text-white"><a th:href="@{/category/{cid}(cid=${o.cid})}" th:text="${o.category}"></a></li>
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body" th:each="o:${lastProduct}">
                    <img class="card-img-top" th:src="${o.image}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title show_txt"><a th:href="@{/detail/{id}(id=${o.id})}" title="View Product" th:text="${o.title}"></a></h4>
                        <p class="card-text show_txt" th:text="${o.author}"></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4" th:each="o:${products}">
                    <div class="card">
                        <img class="card-img-top" th:src="${o.image}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title show_txt"><a th:href="@{/detail/{id}(id=${o.id})}" title="View Product" th:text="${o.title}"></a></h4>
                            <p class="card-text show_txt" th:text="${o.author}"></p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block" th:text="${o.price}"></p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">

                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>PTIT</li>
                    <li><i class="fa fa-envelope mr-2"></i>khanhpq10022002@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> 12 34 56 78 9</li>
                    <li><i class="fa fa-print mr-2"></i> 98 76 54 32 1</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i>.....</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

